.alertContainer {
  position: fixed;
  top: 5rem;
  left: 45%;
  width: max-content;
  min-width: 10%;
  padding: 0.5rem 0.9rem 0.5rem 0.9rem;
  text-align: center;
  border-radius: 5px;
}

.alertMessage {
  font-weight: bold;
}
.error {
  border: 2px solid #663333;
  color: #663333;
  background-color: #eca4a4;
}
.success {
  border: 2px solid green;
  color: green;
  background-color: #cfe9a7;
}
.info {
  border: 3px solid blue;
  color: blue;
}
