.auth-container {
  position: relative;
  top: 10rem;
  left: 35vw;
  width: 90%;
  max-width: 30rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px #00000042;
  background-color: #b2b1e9;
  padding: 2rem;
}

.auth-container button {
  position: relative;
  left: 38%;
}
.auth-container button:disabled {
  background-color: #d6d3d3;
}
.redirect-link,
.invalid-message {
  width: 100%;
  text-align: center;
}
.auth-container a {
  text-decoration: none;
}
.auth-container a:hover {
  text-decoration: underline;
}
.invalid-message {
  color: red;
  font-size: 0.8rem;
}
@media only screen and (max-width: 1150px) {
  .auth-container {
    left: calc(50vw - 15rem);
  }
}
